<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>vue</title>
<link rel="stylesheet" href="css/styles6.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div id="vm">
    <page-header class="header">
      <h1 slot="header">header</h1>
    </page-header>

    <page-content>
      <slot slot="content"></slot>
    </page-content>

  </div>

  <div id="login-example">
    <user-login></user-login>
  </div>

  <script type="text/x-template" id="login-template">
    <div id="login-template">
      <div>
        <input type="text" placeholder="ログインID" v-model="userid">
      </div>
      <div>
        <input type="password" placeholder="パスワード" v-model="password">
      </div>
      <button @click="login()">ログイン</button>
    </div>
  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main6.js"></script>

</body>
</html>
